@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

* {
    font-family: Homenaje, sans-serif;
}

:root {
    --one: #355C7D;
    --two: #6C5B7B;
    --three: #C06C84;
    --four: #F67280;
    --white: #EAEAEA
}

.one, .two, .three, .four {
    transition: 0.5s;
    cursor: pointer;
}

.one {
    color: var(--one)
}

.two {
    color: var(--two)
}

.three {
    color: var(--three)
}

.four {
    color: var(--four)
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: var(--white);
}

h1 {
    font-family: Aldrich, sans-serif;
    text-align: center;
    font-size: 64px
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr 1fr) 0.25fr;
    align-items: center;
    transition: 3s;
}

.topic, .divider {
    text-align: center;
    position: relative;
}

.topic p {
    padding: 8px;
}

.topic {
    height: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.divider {
    font-size: 24px
}

.ignore {
    width: calc(calc(100vw - 1200px) / 2);
    height: 100vh;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.images {
    display: flex;
    opacity: 0.0;
    transition: 0.5s;
    flex-direction: column;
    animation: scroll-up 3s linear infinite;
    /*height: calc(calc(calc(calc(100vw - 1200px) / 3) + 16px) * 8);*/
    gap: 16px;
}

.scroll {
    /*height: calc(calc(calc(calc(100vw - 1200px) / 3) + 16px) * 4);*/
    overflow: hidden;
}


.box {
    border: solid 0;
    width: 1125px;
    transition: 2s;
    position: absolute;
    height: 0;
    bottom: 3vh;
    padding: 8px;
    border-radius: 8px;
    margin-top: -5vh;
}

img {
    aspect-ratio: 1 / 1;
    width: calc(calc(100vw - 1200px) / 3);
    display: inline-block;
    transition: 0.5s;
}

@keyframes scroll-up {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%) }
}